.image {
    object-fit: cover;
    border-radius: 50px;
}

.title {
    font-size: 1.6em;
    font-weight: 400;
    color: var(--primary);
}

.recipeInfo {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-transform: capitalize;
}

.recipeInfo div {
    background-color: #fff;
    color: var(--text);
    margin: 0 10px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.recipeInfo p {
    margin: 0;
}

.recipe {
    display: flex;
    width: 60%;
}

.recipe h2 {
    font-size: 20px;
    font-weight: 600;
}

.ingredients {
    width: 30%;
}

.ingredients ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.steps {
    width: 70%;
}

.steps ol {
    padding-inline-start: 0;
}

.steps li {
    margin: 10px 0;
}

