.image {
    object-fit: cover;
    border-radius: 50px;
    width: 90%;
    height: 400px;
}

.title {
    color: var(--primary);
    width: 100%;
    text-align: center;
}

.recipeInfo {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-transform: capitalize;
    width: 80%;
}

.recipeInfo div {
    background-color: #fff;
    color: var(--text);
    margin: 0 10px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.recipeInfo p {
    margin: 0;
}

.recipe {
    display: flex;
    width: 60%;
}

.recipe h2 {
    font-size: 20px;
    font-weight: 600;
}

.ingredients {
    width: 30%;
}

.ingredients ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.steps {
    width: 70%;
}

.steps ol {
    padding-inline-start: 0;
}

.steps li {
    margin: 10px 0;
}

@media screen and (max-width: 750px) {

    .recipe {
        flex-direction: column;
        width: 90%;
    }

    .ingredients {
        width: 90%;
        margin: 0 auto;
    }

    .steps {
        width: 90%;
        margin: 0 auto;
    }
  
  }