.navbar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.navbar a {
    color: var(--primary);
    margin: 0 1.5rem;
    text-decoration: none;
    font-weight: 400;
}

.navbar a:hover {
    font-weight: 600;
    color: var(--text);
}