.main {
    width: 70%;
    margin: 0 auto;
}

.main ul {
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: var(--primary);
    margin-bottom: 30px;
}

.emptyState {
    text-align: center;
}