.main {
  width: 70%;
  margin: 0 auto;
}

.headSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin-right: 50px;
}

.titleKeyword {
  color: var(--primary);
}

.image {
  display: flex;
}

.image div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 30px;
}

.image img {
  object-fit: cover;
  border-radius: 10%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: transform 200ms ease-in-out;
}

.image img:hover {
  transform: scale(1.03);
  transition: transform 200ms ease-in-out;
}

.stats {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.bar {
  height: 1px;
  background-color: var(--primary);
  width: 100%;
  position: absolute;
  top: 50%;
}

.stats div:nth-child(2) {
  background-color: var(--background);
  border-radius: 10%;
  padding: 5px 25px;
  width: fit-content;
  position: relative;
}

.stats p:nth-child(1) {
  font-size: 2rem;
  margin-bottom: 0;
}

.ctaSection {
  margin: 3.5rem 0;
  text-align: center;
}

.ctaSection p {
  margin-bottom: 50px;
}

.ctaSection a {
  text-decoration: none;
  padding: 15px 30px;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 10px;
}