

html,
body {
  padding: 0;
  margin: 0;
  --background: #fefefe;
  --text: #333;
  --primary: #4E6151;
  --secondary: #F7CB15;
  --tertiary: #F55D3E;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
}